@import './styles/tokens.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Outfit', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button:active:not(:disabled):not(.app-header-logo-btn) {
  transform: scale(0.98);
  transition-duration: 0.08s;
}
